<html>
<link rel="stylesheet"
      href="./main.scss">

<script src="./index.js"></script>

<body>

      <!-- <div class="syllabus-form__steptwo">
            <div class="syllabus-form__steptwo--headline option1">Where Should We Send Your UX Academy Syllabus?
            </div>
            <div class="syllabus-form__steptwo--headline option2 hidden">Start With UX Academy Foundations
                  <span>Where Should We Send Your Syllabus?</span></div>
            <div class="syllabus-form__steptwo--inputs">
                  <label class=""><span class="name-label">Full Name</span><input type="text"
                               name="radio"></label>
                  <label class=""><span class="email-label">Email</span><input type="email"
                               name="email"></label>
            </div>
            <button disabled
                    class="syllabus-form__steptwo--btn option1-btn">Get Your Syllabus</button>
            <button disabled
                    class="syllabus-form__steptwo--btn option2-btn hidden">Get Your UX Academy Foundations
                  Syllabus</button>
      </div> -->
      <!-- <div class="syllabus-form__steptwo">
            <img class="u-grid-image"
                 src="https://static.trydesignlab.com/main/images/logos/logo-uxa.cbe145c41db5.svg"
                 alt="UX Academy logo">
            <div class="syllabus-form__steptwo--headline option1">Where Should We Send Your UX Academy Syllabus? </div>
            <div class="syllabus-form__steptwo--headline option2 hidden">Start With UX Academy Foundations <span
                        class="block text-normal">Where Should We Send Your Syllabus?</span></div>
            <div class="syllabus-form__steptwo--inputs-text"> <label class=""><span class="name-label">Full
                              Name</span><input
                               class="form__input ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched"
                               dl-form-field=""
                               type="text"
                               name="name"
                               ng-model="signup.name"
                               placeholder="e.g. Robin Buckley"
                               required=""></label> <label class=""><span class="email-label">Email</span><input
                               class="form__input ng-touched ng-dirty ng-valid-email ng-invalid ng-invalid-required"
                               dl-form-field=""
                               type="email"
                               name="email"
                               ng-model="signup.email"
                               placeholder="e.g. robin@trydesignlab.com"
                               required=""></label> </div><button class="syllabus-form__steptwo--btn option1-btn">Get
                  Your Syllabus</button> <button class="syllabus-form__steptwo--btn option2-btn hidden">Get Your UX
                  Academy Foundations Syllabus</button>
      </div> -->
      <!-- <div class="syllabus-success">
            <img class="syllabus-success__img"
                 src="https://static-staging.trydesignlab.com/main/images/bem-modules/list/list--check-list.1a81f0f00b3f.svg"></img>
            <div class="syllabus-success__headline">Take your next step!</div>
            <div class="syllabus-success__paragraph">Apply directly below or check your inbox to learn more about UX
                  Academy.</div>
            <a class="syllabus-success__btn syllabus-success__btn--1">Apply Now</a>
      </div> -->
      <!-- <a class="button button--orange button--lg ng-scope"
         ng-href="/ux-academy/apply/?first='+firstName+'&amp;email='+userData.email+'"
         ng-if="root.getCta() == 'apply'"
         href="/ux-academy/apply/?first='+firstName+'&amp;email='+userData.email+'">Apply Now</a> -->

      <!-- <a class="button button--lg ng-scope"
         href="/foundations/enroll/"
         ng-if="root.getCta() == 'foundations'">Enroll in UX Academy Foundations</a> -->
      <!-- <a class="button button--orange button--lg ng-scope"
         ng-href="/ux-academy/apply/?first='+firstName+'&amp;email='+userData.email+'&amp;last='+lastName+'"
         ng-if="root.getCta() == 'apply'"
         href="/ux-academy/apply/?first='+firstName+'&amp;email='+userData.email+'&amp;last='+lastName+'">Apply Now</a> -->
      <!-- <a class="u-link-teal u-text-semibold u-text-nobreak"
         href=""
         ng-click="root.launchCalendlyWidget()">Book an admissions call!</a> -->
      <!-- 
      <div class="call-booked">
            <img class="call-booked__img"
                 src="https://static-staging.trydesignlab.com/main/images/bem-modules/list/list--check-list.1a81f0f00b3f.svg"></img>
            <div class="call-booked__headline">Chat With Admissions</div>
            <div class="call-booked__paragraph">We look forward to chatting with you soon!</div>

      </div> -->

      <!-- <div class="mentortype-headimg">
            <img src=""
                 alt="">
      </div>
      <h3 class="mentortype-headtext">We have 34 mentors experienced in UI Design.
            Get your syllabus as the next step.</h3>
      <p>We have 34 mentors experienced in UI Design.
            Get your syllabus as the next step.</p> -->


</body>

</html>